.well.feed_item{
    width: 90%;
    margin: auto;
    text-align: left;
        padding: 2% 10%;
    margin-bottom: 5%;
}
.well.feed_item h4.title{
    margin: 0;
    text-decoration: underline;	
}
.well.feed_item h5.date{
	margin: 5px 0px 20px 0px;
}