<div class="main">

	<ng-include src="'views/side_bar.html'"></ng-include>
	
	<div class="main-page" ng-class="{'loading': loading.action, 'side-menu-hidden': !shown.menu}">
		
		<button class="btn btn-lg btn-warning" ng-show="loading.action"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>

		<div class="page-data" ng-hide="loading.action || selected.responseDetails || isEmpty(selected.data)">
			<h3>{{selected.data.title}}
				<span class="glyphicon glyphicon-info-sign" ng-click="show_descriptions[selected.rss_feed.id] = !show_descriptions[selected.rss_feed.id]">
					<div class="description" ng-show="show_descriptions[selected.rss_feed.id]">
						<div class="triangle"></div>
						<div class="data">
							<span class="close">X</span>
							{{selected.data.description}}
						</div>
					</div>
				</span>
			</h3>
			<div class="feed-items" >
		        <feed-item 
		        	ng-repeat="item in selected.data.entries"
		        	item="item">		
		        </feed-item>
			</div>
		</div>

		<div class="no-page-data" ng-show="!loading.action &&selected.responseDetails && isEmpty(selected.data)">
			{{selected.responseDetails}}
		</div>
	</div>
</div>
